<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletFun1</display-name>
    <servlet-name>ServletFun1</servlet-name>
    <servlet-class>lesson1.ServletFun1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFun1</servlet-name>
    <url-pattern>/sf1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFun2</display-name>
    <servlet-name>ServletFun2</servlet-name>
    <servlet-class>lesson1.ServletFun2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFun2</servlet-name>
    <url-pattern>/ServletFun2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFun3</display-name>
    <servlet-name>ServletFun3</servlet-name>
    <servlet-class>lesson1.ServletFun3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFun3</servlet-name>
    <url-pattern>/sf3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Work</display-name>
    <servlet-name>Work</servlet-name>
    <servlet-class>lesson1.Work</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Work</servlet-name>
    <url-pattern>/w</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextServlet</display-name>
    <servlet-name>ContextServlet</servlet-name>
    <servlet-class>lesson1.ContextServlet</servlet-class>
    <init-param>
      <param-name>address</param-name>
      <param-value>中国</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextServlet</servlet-name>
    <url-pattern>/cs</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>age</param-name>
    <param-value>19</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Mylogin</display-name>
    <servlet-name>Mylogin</servlet-name>
    <servlet-class>lesson2.Mylogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mylogin</servlet-name>
    <url-pattern>/ml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CkServlet</display-name>
    <servlet-name>CkServlet</servlet-name>
    <servlet-class>lesson2.CkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CkServlet</servlet-name>
    <url-pattern>/c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SnServlet</display-name>
    <servlet-name>SnServlet</servlet-name>
    <servlet-class>lesson2.SnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SnServlet</servlet-name>
    <url-pattern>/s</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionWork</display-name>
    <servlet-name>SessionWork</servlet-name>
    <servlet-class>lesson2.SessionWork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionWork</servlet-name>
    <url-pattern>/sw</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>lesson3.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/lesson2/a/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>TeFilter</filter-name>
    <filter-class>lesson3.TeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>lesson3.RequestListence</listener-class>
  </listener>
  <listener>
    <listener-class>lesson3.SessionListence</listener-class>
  </listener>
  <listener>
    <listener-class>lesson3.SlContextListence</listener-class>
  </listener>
  <listener>
    <listener-class>lesson3.SessionDataChange</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>lesson4.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownLoadServlet</display-name>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>lesson4.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyShareDownLoad</display-name>
    <servlet-name>MyShareDownLoad</servlet-name>
    <servlet-class>lesson4.MyShareDownLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyShareDownLoad</servlet-name>
    <url-pattern>/share</url-pattern>
  </servlet-mapping>
  <!-- servlet国际化 -->
  <servlet>
    <description></description>
    <display-name>NationLocale</display-name>
    <servlet-name>NationLocale</servlet-name>
    <servlet-class>lesson4.NationLocale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NationLocale</servlet-name>
    <url-pattern>/nation</url-pattern>
  </servlet-mapping>
</web-app>